<div class="fieldInfo">
  <form class="fieldInfo__content" [formGroup]="fieldInformationFG">
      <div class="flex-row-layout ai-flex-end fieldInfo__title">
        <div *ngIf="mode === 'read'; else editNameTpl;">
          <h1>
            <b>{{ fieldInformation?.name }}</b>
          </h1>
        </div>
        <ng-template #editNameTpl>
          <div class="fieldInfo__field no-margin">
            <h6>
              Key name
            </h6>
            <input class="fill-width" formControlName="name" id="keyNameFC">
          </div>
        </ng-template>
        <span class="flex"></span>
        <!-- <button class="app-btn app-btn--warn mr-10" type="button"
        *ngIf="mode === 'read'" (click)="deleteField()">
          <span>Delete this</span>
        </button> -->
        <!-- <button class="app-btn app-btn--warn mr-10" type="button"
        *ngIf="mode === 'edit'" (click)="cancel()">
          <span>Cancel</span>
        </button> -->
        <button class="app-btn" (click)="onCrudButtonClick()"
        [type]="mode === 'read' ? 'button' : 'submit'" id="editBtn">
          <span *ngIf="mode === 'read'; else saveButtonText;">
            Edit this
          </span>
          <ng-template #saveButtonText>
            Save
          </ng-template>
        </button>
      </div>
      <div class="fieldInfo__field">
        <h6>
          Description
        </h6>
        <p *ngIf="mode === 'read'; else editDescriptionTpl;">
          {{ fieldInformation?.description }}
        </p>
        <ng-template #editDescriptionTpl>
          <textarea class="fill-width" formControlName="description"
          rows="3"  id="descriptionFC"></textarea>
        </ng-template>
      </div>
      <div class="fieldInfo__field">
        <h6>
          Type
        </h6>
        <p *ngIf="mode === 'read'; else editTypeTpl;">
          {{ fieldInformation?.type?.description }}
        </p>
        <ng-template #editTypeTpl>
          <select formControlName="type" [compareWith]="'id' | toSelectCompareFn"
          id="typeFC">
            <option [ngValue]="null" disabled>Pick one</option>
            <option *ngFor="let type of $fieldTypes | async" [ngValue]="type">
              {{ type.name }}
            </option>
          </select>
        </ng-template>
      </div>
      <div class="fieldInfo__field">
        <ng-container *ngIf="mode === 'read'; else editSensitivityTpl;">
          <h6>
              Sensitivity
          </h6>
          <p>
            {{ (fieldInformation?.sensitivity ? 
            'MANAGE_DATA.FIELD_SENSITIVITY_IS_PERSONAL' : 
            'MANAGE_DATA.FIELD_SENSITIVITY_IS_PUBLIC') | translate }}
          </p>
        </ng-container>
        <ng-template #editSensitivityTpl>
          <div class="flex-row-layout ai-center">
            <input type="checkbox" formControlName="sensitivity" class="mr-10" id="personalDataCkb"
            id="sensitivityFC">
            <label for="personalDataCkb">Is this personal data?</label>
          </div>
        </ng-template>
      </div>
      <div class="fieldInfo__values">
        <table>
          <thead>
            <tr>
              <th [attr.colspan]="mode === 'read' ? 2 : 2">
                <span>POSSIBLE VALUES</span>
              </th>
            </tr>
            <tr>
              <th>
                <span>VALUE</span>
              </th>
              <th>
                <span>DESCRIPTION</span>
              </th>
              <th *ngIf="mode === 'edit'">
              </th>
            </tr>
          </thead>
          <tbody *ngIf="mode === 'read'; else editValuesTpl;">
            <tr *ngFor="let value of fieldInformation?.values">
              <td>
                <span>
                  {{ value.value }}
                </span>
              </td>
              <td>
                <span>
                  {{ value.description }}
                </span>
              </td>
            </tr>
          </tbody>
          <ng-template #editValuesTpl>
            <tbody formArrayName="values">
              <tr *ngFor="let fg of valuesFA.controls; let i = index;" [formGroupName]="i">
                <td>
                  <span>
                    <input type="text" formControlName="value" class="fill-width">
                  </span>
                </td>
                <td>
                  <span>
                    <textarea formControlName="description" class="fill-width"></textarea>
                  </span>
                </td>
                <!-- <td>
                  <span>
                    <button class="app-btn app-btn--warn" (click)="removeFieldValue(i)">
                      &times;
                    </button>
                  </span>
                </td> -->
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" class="pl-0">
                  <button class="app-btn app-btn--flat" (click)="addFieldValue()"
                  id="addValueBtn">
                    <span><b>+</b></span>&nbsp;Add possible value
                  </button>
                </td>
              </tr>
            </tfoot>
          </ng-template>
        </table>
      </div>
  </form>
</div>