.#{$namespace}-btn{
    padding: 10px 15px;
    cursor: pointer;
    // @include materialShadow(2);
    border: 1px solid $accent-color;
    background-color: $accent-color;
    color: #FFF;
    &--primary{
        border-color: $primary-color;
        background-color: $primary-color;
        color: #FFF;
    }
    &--warn{
        border-color: $red;
        background-color: $red;
        color: #FFF;
    }
    &--flat{
        color: #000;
        border: 1px solid #000;
        background: none;
    }
}