$primary-color: #7e8a00;
$primary-color-lighter: #7298de;
$primary-color-darker: #3e6aac;

$accent-color: #f1901f;
$accent-color-lighter: #ffc153;
$accent-color-darker: #b96200;

$red: #f44336;
$red-lighter: #ff7961;
$red-darker: #ba000d;

$secondary-color: #63a24a;
$secondary-color-lighter: #94d478;
$secondary-color-darker: #33731d;

$tertiary-color: #4c4c4c;

$black: #000;

$grey: #e5e5e5;