$primary-color: #000000;
$primary-color-lighter: #2c2c2c;
$primary-color-darker: #000000;

$accent-color: #7e8a00;
$accent-color-lighter: #b0ba3f;
$accent-color-darker: #4e5d00;

$red: #f44336;
$red-lighter: #ff7961;
$red-darker: #ba000d;

$secondary-color: #63a24a;
$secondary-color-lighter: #94d478;
$secondary-color-darker: #33731d;

$tertiary-color: #4c4c4c;

$black: #000;

$grey: #e5e5e5;