%invalid{
    border-color: $red;
    @include placeholder(){
        color: $red !important;
    }

}

input:not([type=checkbox]), .input, textarea, select{
    padding: 4px 8px;
    min-height: 38px;
    min-width: 150px;
    color: #000 !important;
    // border: 1px solid rgba(#000,.25);
    border: 1px solid rgba(#000,.3);
    background-color: #FFF;
    resize: vertical;
    // @include borderRadius(6px);    
    @include materialShadow(1);
    @include placeholder(){
        color: #000 !important;
    }
    &.invalid, &.ng-invalid.ng-touched{
        @extend %invalid;
    }
}

// textarea{
//     &.invalid{
//         @extend %invalid;
//     }
// }
